*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nova Flat', cursive;

}

.container{
    height: 100vh;
    width: 100%;
    background-image:url(img/background.jpg);
    background-size: cover;
    background-position: center;
}

nav{
   height: 15vh; 
   display: flex;
   justify-content: space-between;
   background-color: black;
   color: rgb(243, 240, 240);

}
nav h1{
    margin: 30px;
    font-size: 2em;
}
nav ul li{
    display: inline-block;
    padding: 5px;
    margin: 40px 35px 0px 10px;
    font-size: 20px;
    align-items: center;

}
nav ul li a{
    text-decoration: none;
    color: rgb(243, 240, 240);
}
nav ul li a:hover{
    color: rgb(138, 133, 133);

}


.content{
    margin: 10% 0% 0% 0%;
    display: flex;
    justify-content: space-around;
}
.content-right{
    display: flex;
    margin: 0% 2em 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: drop 1.5s ease;   
}

.content-left{
    margin: 1.6em 2em 0 .8em;
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }

}
.content-left h1{
font-size: 2.5rem;}

.content p{
    padding-top: 3rem;
    font-size: 1rem;
}
.clock{
    height: 200px;
    width: 190px;
}
.clock:hover{
    animation: up 2s ease;

}
@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(-80px);
    }

}
.button{
    cursor: pointer;
    margin-top: 20px;
    border: none;
    background: black;
    color: rgb(243, 240, 240);
    height: 40px;
    width: 70px;
    font-size: 1rem;
    font-family: 'Nova Flat', cursive;


}
.button:hover{
    background-color:  rgb(243, 240, 240);
    color: black;
    border: 3px solid black;
}
